// Dark Theme Color Variables
$dtPrimary: #675cff;
$dtText: #f2f1ff;
$dtBackground: #010014;
$dtPending: #ffdf80;
$dtSuccess: #b1ffaa;
$dtDanger: #ff8080;

// Light Theme Color Variables
$ltPrimary: #675cff;
$ltText: #010014;
$ltBackground: #f8f7fc;
$ltPending: #cd8900;
$ltSuccess: #009966;
$ltDanger: #990040;

// Dark Theme Background Color Classes
.bg-dtText-5 {
  background-color: rgba($dtText, 0.05);
}
.bg-dtText-10 {
  background-color: rgba($dtText, 0.1);
}
.bg-dtBackground-75 {
  background-color: rgba($dtBackground, 0.75);
}
.bg-dtPending-10 {
  background-color: rgba($dtPending, 0.1);
}
.bg-dtSuccess-10 {
  background-color: rgba($dtSuccess, 0.1);
}
.bg-dtDanger-10 {
  background-color: rgba($dtDanger, 0.1);
}
.border-dtText-10 {
  border-color: rgba($dtText, 0.1);
}
.border-dtText-40 {
  border-color: rgba($dtText, 0.4);
}
.border-dtPending-40 {
  border-color: rgba($dtPending, 0.4);
}
.border-dtSuccess-40 {
  border-color: rgba($dtSuccess, 0.4);
}
.border-dtDanger-40 {
  border-color: rgba($dtDanger, 0.4);
}

// Light Theme Background Color Classes
.bg-ltText-5 {
  background-color: rgba($ltText, 0.05);
}
.bg-ltText-10 {
  background-color: rgba($ltText, 0.1);
}
.bg-ltBackground-75 {
  background-color: rgba($ltBackground, 0.75);
}
.bg-ltPending-10 {
  background-color: rgba($ltPending, 0.1);
}
.bg-ltSuccess-10 {
  background-color: rgba($ltSuccess, 0.1);
}
.bg-ltDanger-10 {
  background-color: rgba($ltDanger, 0.1);
}
.border-ltText-10 {
  border-color: rgba($ltText, 0.1);
}
.border-ltText-40 {
  border-color: rgba($ltText, 0.4);
}
.border-ltPending-40 {
  border-color: rgba($ltPending, 0.4);
}
.border-ltSuccess-40 {
  border-color: rgba($ltSuccess, 0.4);
}
.border-ltDanger-40 {
  border-color: rgba($ltDanger, 0.4);
}

// Dark Theme Success Hover & Focus
.hover_bg-dtSuccess-15:hover,
.focus_bg-dtSuccess-15:focus {
  background-color: rgba($dtSuccess, 0.15);
  outline: none !important;
}

// Dark Theme Danger Hover & Focus
.hover_bg-dtDanger-15:hover,
.focus_bg-dtDanger-15:focus {
  background-color: rgba($dtDanger, 0.15);
  outline: none !important;
}

// Dark Theme Background Hover & Focus
.hover_bg-dtBackground-15:hover,
.focus_bg-dtBackground-15:focus {
  background-color: rgba($dtBackground, 0.15);
  outline: none !important;
}

// Dark Theme Primary Hover & Focus
.hover_bg-dtPrimary-25:hover,
.focus_bg-dtPrimary-25:focus {
  background-color: rgba($dtPrimary, 0.25);
}

.hover_bg-dtPrimary-15:hover,
.focus_bg-dtPrimary-15:focus {
  background-color: rgba($dtPrimary, 0.15);
}


.hover_bg-dtPrimary-35:hover,
.focus_bg-dtPrimary-35:focus {
  background-color: rgba($dtPrimary, 0.35);
  outline: none !important;
}

// Dark Theme Text Hover & Focus
.hover_bg-dtText-15:hover,
.focus_bg-dtText-15:focus {
  background-color: rgba($dtText, 0.15);
  outline: none !important;
}

// Light Theme Text Hover & Focus
.hover_bg-ltText-15:hover,
.focus_bg-ltText-15:focus {
  background-color: rgba($ltText, 0.15);
  outline: none !important;
}

// Light Theme Success Hover & Focus
.hover_bg-ltSuccess-15:hover,
.focus_bg-ltSuccess-15:focus {
  background-color: rgba($ltSuccess, 0.15);
  outline: none !important;
}

// Light Theme Danger Hover & Focus
.hover_bg-ltDanger-15:hover,
.focus_bg-ltDanger-15:focus {
  background-color: rgba($ltDanger, 0.15);
  outline: none !important;
}

// Light Theme Background Hover & Focus
.hover_bg-ltBackground-15:hover,
.focus_bg-ltBackground-15:focus {
  background-color: rgba($ltBackground, 0.15);
  outline: none !important;
}
