.editor-content a {
  margin-top: 0.75rem;
  line-height: 1.9;
  font-weight: 700;
  color: var(--c-secondary);
  text-decoration: underline var(--c-secondary);
  transition: color 0.2s ease-out;
}
.editor-content a:hover {
  color: var(--c-primary);
  text-decoration: underline var(--c-primary);
}
.editor-content h1 {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 2rem;
  font-weight: 800;
}
.editor-content h2 {
  font-size: 1.35rem;
  line-height: 1;
  margin-top: 2rem;
  font-weight: 700;
}
.editor-content h3 {
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 2rem;
  font-weight: 700;
}
.editor-content p {
  margin-top: 0.75rem;
  line-height: 1.8;
}

.editor-content ul,
.editor-content ol {
  margin-left: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .editor-content ul,
  .editor-content ol {
    margin-left: 2.25rem;
  }
}

.editor-content li > p,
.editor-content li > ol,
.editor-content li > ul {
  margin: 0;
}

.editor-content ul {
  list-style: disc;
  margin-top: 0.35rem;
}

.editor-content ol {
  list-style: decimal;
  margin-top: 0.35rem;
}

.editor-content p code {
  font-family: "JetBrainsMono", monospace;
  padding: 0.15rem 0.35rem;
  line-height: 2.25;
  border-radius: 0.25rem;
  background-color: var(--c-text-10);
  border: 1px solid var(--c-text-10);
}

.editor-content pre {
  font-family: "JetBrainsMono", monospace;
  line-height: 2;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid var(--c-secondary-15);
  background-color: var(--c-secondary-10);
  margin-top: 1rem;
  white-space: pre-line
}

.editor-content strong {
  font-weight: 800;
}

.editor-content > *:first-child{
    margin-top: 0rem !important;
}

.ProseMirror {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid var(--c-background-ter);
  transition: border 0.2s ease-out;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background-color: var(--c-background-ter);
  min-height: 26rem;
}
.ProseMirror *:first-child{
    margin-top: 0rem!important;
}
@media only screen and (min-width: 768px) {
  .ProseMirror {
    padding: 1.75rem 2.25rem 1.75rem 2.25rem;
  }
}
.ProseMirror-focused {
  outline: none;
  border: 1px solid var(--c-primary);
}

// For feedback
.editor-content-feedback > .ProseMirror {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid var(--c-text-15);
  transition: border 0.2s ease-out;
  border-radius: 0.5rem;
  background-color: var(--c-text-05);
  min-height: 8rem;
  max-height: 8rem;
  overflow-y: scroll;
}
@media only screen and (min-width: 768px) {
  .editor-content-feedback > .ProseMirror {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  }
}
.editor-content-feedback > .ProseMirror-focused {
  outline: none;
  border: 1px solid var(--c-primary);
}

// Editor related things
.menububble {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 20;
  background: var(--c-secondary);
  border-radius: 5px;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: var(--c-light);
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 3px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--c-light-25);
    }

    &.is-active {
      background-color: var(--c-light-15);
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    font: inherit;
    font-weight: 700;
    border: none;
    background: transparent;
    color: var(--c-light);
    padding: 0rem 0.35rem;
  }
  &__input::placeholder {
    opacity: 0.5;
    color: var(--c-light);
  }
}