.d-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.dt-footer-shadow {
  box-shadow: 0 -2px 0 0 rgba(103, 92, 255, 1);
}
.dt-footer-bg {
  background-color: rgba(103, 92, 255, 0.04);
}
.h-2px {
  height: 2px;
}
