@import "fonts.scss";
.d-container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.d-container-2 {
  max-width: 1280px;
  width: 100%;
}
.shadow-header {
  box-shadow: 0 0.6rem 1.2rem -0.2rem rgba(#675cff, 0.15);
}
.font-mono-jet {
  font-family: "JetBrainsMono";
}
.bg-dtPrimary-25 {
  background-color: rgba(#675cff, 0.25);
}
.hover_bg-dtPrimary-25:hover,
.focus_bg-dtPrimary-25:focus {
  background-color: rgba(#675cff, 0.25);
}
// Hover Scale
.hover_scale-md:hover {
  transform: scale(1.035);
}
.focus_scale-md:focus {
  transform: scale(1.035);
}
.hover_scale-lg:hover {
  transform: scale(1.065);
}
.focus_scale-lg:focus {
  transform: scale(1.065);
}

// Dark Theme Primary Color Button
.btn-dtPrimary {
  box-shadow: 0 0 0 0 rgba(#675cff, 0.5), 0 0 0 0 rgba(#f2f1ff, 1);
  transform: scale(1);
  transform-origin: left bottom;
  transition: all 0.2s ease-in-out;
}
.btn-dtPrimary:hover,
.btn-dtPrimary:focus {
  box-shadow: -0.5rem 0.5rem 1rem 0 rgba(#675cff, 0.5),
    -0.25rem 0.25rem 0 0 rgba(#f2f1ff, 1);
  outline: none !important;
}

// Dark Theme Text Color Button
.btn-dtText {
  box-shadow: 0 0 0 0 rgba(#675cff, 0.5), 0 0 0 0 rgba(#675cff, 1);
  transform: scale(1);
  transform-origin: left bottom;
  transition: all 0.2s ease-in-out;
}
.btn-dtText:hover,
.btn-dtText:focus {
  box-shadow: -0.5rem 0.5rem 1rem 0 rgba(#675cff, 0.5),
    -0.25rem 0.25rem 0 0 rgba(#675cff, 1);
  outline: none !important;
}
// Light Theme Primary Color Button
.btn-ltPrimary {
  box-shadow: 0 0 0 0 rgba(#675cff, 0.5), 0 0 0 0 rgba(#010014, 1);
  transform: scale(1);
  transform-origin: left bottom;
  transition: all 0.2s ease-in-out;
}
.btn-ltPrimary:hover,
.btn-ltPrimary:focus {
  box-shadow: -0.5rem 0.5rem 1rem 0 rgba(#675cff, 0.5),
    -0.25rem 0.25rem 0 0 rgba(#010014, 1);
  outline: none !important;
}

// Light Theme Text Color Button
.btn-ltText {
  box-shadow: 0 0 0 0 rgba(#675cff, 0.5), 0 0 0 0 rgba(#675cff, 1);
  transform: scale(1);
  transform-origin: left bottom;
  transition: all 0.2s ease-in-out;
}
.btn-ltText:hover,
.btn-ltText:focus {
  box-shadow: -0.5rem 0.5rem 1rem 0 rgba(#675cff, 0.5),
    -0.25rem 0.25rem 0 0 rgba(#675cff, 1);
  outline: none !important;
}

// For Both Light Theme and Dark Theme, Text Color Button
.btn-textSecondary {
  box-shadow: 0 0.5rem 1rem 0 rgba(#181726, 0.25), 0 0 0 0 rgba(#181726, 1);
  transform: scale(1);
  transform-origin: left bottom;
  transition: all 0.2s ease-in-out;
}
.btn-textSecondary:hover,
.btn-textSecondary:focus {
  box-shadow: -0.5rem 0.5rem 1rem 0 rgba(#181726, 0.5),
    -0.35rem 0.35rem 0 0 rgba(#181726, 1);
  outline: none !important;
}

.hover_bg-dtText-15:hover,
.focus_bg-dtText-15:focus {
  background-color: rgba(#f2f1ff, 0.15);
  outline: none !important;
}
.hover_bg-ltText-15:hover,
.focus_bg-ltText-15:focus {
  background-color: rgba(#010014, 0.15);
  outline: none !important;
}

input {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  opacity: 0.75;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  opacity: 0.75;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  opacity: 0.75;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  opacity: 0.75;
}
