@import "fonts.scss";
.d-container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.h-2px {
  height: 2px;
}
.shadow-header {
  box-shadow: 0 0.6rem 1.2rem -0.2rem rgba(#675cff, 0.15);
}
.font-mono-jet {
  font-family: "JetBrainsMono";
}
